.current-profile-header{
   display: flex;
   align-items: center;
}

.current-profile-header img{
   width: 60px;
   height: 60px;
   border: 1px solid #303030;
   border-radius: 6px;
}

.current-profile-header h3{
   font-family: 'Lato', sans-serif;
   font-weight: bold;
   font-size: 32px;
   margin-left: 10px;
   max-width: 300px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.current-profile-description{
   width: 300px;
}

.current-profile-description p{
   margin: 20px 0;
   font-family: 'Ubuntu', sans-serif;
   font-weight: 300;
   text-align: left;
}

.current-profile-description a{
   display: block;
   background-color: #303030;
   padding: 10px;
   color: #e4e4e4;
   font-family: 'Ubuntu', sans-serif;
   text-decoration: none;
   border-radius: 6px;
   text-align: center;
}

.current-profile-description a:hover, .current-profile-description:focus{
   opacity: 0.8;
}

.current-profile-description a:active{
   transform: scale(1.05);
}

@media only screen and (max-width: 768px){
   .current-profile{
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .current-profile-description p {
      text-align: center;
   }
}

@media only screen and (max-width: 480px){
   .current-profile-header{
      flex-direction: column;
      align-items: center;
   }

   .current-profile-header img{
      width: 80px;
      height: 80px;
   }

   .current-profile-header h3{
      margin: 0;
      margin-top: 5px;
      max-width: 90vw;
   }

   .current-profile-description{
      width: 90vw;
   }
}

@media only screen and (min-width: 1824px){
   .current-profile-header img{
      width: 90px;
      height: 90px;
      border-width: 3px;
   }

   .current-profile-header h3{
      font-size: 40px;
      max-width: 450px;
   }

   .current-profile-description{
      width: 400px;
   }

   .current-profile-description p{
      font-size: 24px;
   }

   .current-profile-description a{
      font-size: 24px;
   }
}