.action-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 400px;
}
 
.action-container button{
   font-family: 'Ubuntu', sans-serif;
   font-weight: normal;
   background-color: #303030;
   color: #e4e4e4;
   width: 100%;
   border-radius: 6px;
   padding: 10px 0;
   font-size: 20px;
   margin-top: 20px;
}

.action-container button:hover{
   cursor: pointer;
   opacity: 0.8;
}

.action-container button:active{
   transform: scale(1.05);
}
 
.action-container__search-box{
   width: 100%;
   display: flex;
   align-items: center;
   background-color: #303030;
   border: 5px solid #303030;
   border-radius: 6px;
}
 
.action-container__search-box input{
   font-size: 20px;
   padding: 5px;
   font-family: 'Lato', sans-serif;
   font-weight: 300;
   font-style: italic;
   flex-grow: 1;
   background-color: #eeeeee;
   transition: background-color 0.1s;
}

.action-container__search-box input:focus{
   background-color: white;
}
 
.action-container__search-box__icon{
   width: 30px;
   height: 30px;
   margin-right: 10px;
}

.action-container__search-box__icon:hover{
   transform: scale(1.05);
   cursor: pointer;
}

@media only screen and (max-width: 768px){
   .action-container{
      width: 100%;
   }
  
   .action-container button{
      width: 50%;
   }
  
   .action-container__search-box{
      width: 75%;
   }
}

@media only screen and (max-width: 480px){
   .action-container button{
      width: 100%;
   }
  
   .action-container__search-box{
      width: 100%;
   }
}

@media only screen and (min-width: 1824px){
   .action-container{
      width: 500px;
   }

   .action-container button{
      font-size: 24px;
   }

   .action-container__search-box input{
      padding-left: 10px;
      font-size: 24px;
   }

   .action-container__search-box__icon{
      width: 40px;
      height: 40px;
   }
}