.message-container{
   display: flex;
   align-items: center;
}
 
.message-container img{
   width: 50%;
   max-width: 200px;
   margin-right: 20px;
}
 
.message-content{
   display: inline-block;
}
 
.message-content h3{
   font-size: 40px;
   font-family: 'Lato', sans-serif;
   font-weight: bold;
   width: auto;
}
 
.message-content__text{
   display: flex;
}
 
.message-content__text p{
   flex-grow: 1;
   width: 0;
   font-size: 20px;
   text-align: justify;
   font-family: 'Ubuntu', sans-serif;
   font-weight: 300;
   margin-top: 5px;
}

@media only screen and (max-width: 768px){
   .message-container{
      flex-direction: column;
   }

   .message-container img{
      margin: 0;
   }
  
   .message-content__text p{
      text-align: center;
   }
}

@media only screen and (max-width: 480px){
   .message-content h3{
      font-size: 8vw;
   }
  
   .message-content__text p{
      font-size: 4vw;
   }
}

@media only screen and (min-width: 1824px){
   .message-container img{
      max-width: none;
      width: 40%;
   }

   .message-content h3{
      font-size: 56px;
      white-space: nowrap;
   }

   .message-content__text p {
      font-size: 24px;
   }
}