.repo-list {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow: auto;
  flex: 1;
}

.repo-list-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.repo-list-error {
  color: #ff4242;
}

.repo-list-error img {
  width: 80px;
  height: 80px;
}



@media screen and (max-width: 450px){
  .repo-list {
    padding: 0.5rem 1rem;
    gap: 0.5rem;
  }
}