@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&family=Ubuntu:ital,wght@1,300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh + 140px);
}

@media only screen and (max-width: 1400px){
  #root{
    height: auto;
  }
}