.user-profile{
   display:flex;
   width: 100%;
}
 
.user-profile img{
   width: 60px;
   height: 60px;
}

.profile-name{
   position: relative;
   bottom: 7px;
   margin-left: 20px;
   width:80%;
}
 
.profile-name h2, .profile-name h4{
   font-family: 'Lato', sans-serif;
   color: #303030;
   text-overflow: ellipsis;
   overflow: hidden;
}

.profile-name h2{
   font-size: 32px;
}

.profile-name h4{
   font-size: 28px;
}

.profile-name h4:hover{
   text-decoration: underline;
   cursor: pointer;
}

.profile-name a{
   font-family: 'Roboto', sans-serif;
   color: #5151a8;
}

.profile-name a:hover{
   cursor: pointer;
   text-decoration: underline;
}

@media only screen and (max-width: 500px){
   .user-profile--important{
      flex-direction: column;
      align-items: center;
   }

   .user-profile--important .profile-name{
      text-align: center;
      width: 100%;
      margin: 0;
      position: static;
      margin-top: 15px;
   }

   .user-profile--important img{
      width: 80px;
      height: 80px;
   }
}
