.profile-card button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #9e9898;
    background: transparent;
    border: none;
    width: 100%;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #ebe0e0;
    cursor: pointer;
}

.profile-card:last-child button {
    border-bottom: none;
}

.profile-card button:hover {
    background-color: #3d3a3a;
}

.profile-card-body {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-card-body img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.info-icon {
    width: 30px;
    height: 30px;
}